.testimonials {
  padding: var(--section-padding-y) 0;

  @include mobile {
    padding: var(--section-padding-y-mobile) 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include mobile {
      row-gap: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 40px;
    border: 1px solid var(--color-dark);
    align-items: center;
    text-align: center;

    @include mobile {
      padding: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &-title {
      font-family: 'Helvetica Bold', sans-serif;
      font-size: 18px;
    }

    &-description {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}