:root {
  --color-dark: #212529;
  --color-light: #FFFFFF;
  --color-accent: #DDD7C0;

  --font-family-base: 'Roboto Regular';
  --container-width: 1376px;
  --container-padding-x: 15px;

  --section-padding-y: 60px;

  --transition-duration: 0.2s;
}